<a href="https://colab.research.google.com/github/leonardocroda/wine-quality/blob/master/desafio_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IGTI/modulo 2/Desafio/winequality-red.csv', sep=";")
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

#**No dataset utilizado para o desafio, quantas instâncias e atributos existem, respectivamente?**

In [ ]:
df.shape

(1599, 12)

#**Quantos tipos diferentes de dados existem no dataset do desafio?**

#**Qual é a proporção (em %) de valores nulos existente na coluna "residual sugar" (resíduo de açucar)?**

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [ ]:
df.describe()

       fixed acidity  volatile acidity  ...      alcohol      quality
count    1599.000000       1599.000000  ...  1599.000000  1599.000000
mean        8.319637          0.527821  ...    10.422983     5.636023
std         1.741096          0.179060  ...     1.065668     0.807569
min         4.600000          0.120000  ...     8.400000     3.000000
25%         7.100000          0.390000  ...     9.500000     5.000000
50%         7.900000          0.520000  ...    10.200000     6.000000
75%         9.200000          0.640000  ...    11.100000     6.000000
max        15.900000          1.580000  ...    14.900000     8.000000

[8 rows x 12 columns]

#**Qual é a proporção (em %) de valores nulos existente na coluna "residual sugar" (resíduo de açucar)?**

In [ ]:
df.describe()['fixed acidity']['std']

1.7410963181277006

#**Qual é a mediana para a variável "residual sugar"?**

In [ ]:
df.describe()['residual sugar']['50%']

2.2

**Sobre o coeficiente de correlação de Pearson entre as variáveis "fixed acidity" e "pH" é CORRETO afirmar:**

Existe uma correlação negativa. Quanto menor o "fixed acidity, menor é o "pH".

**Existe uma correlação negativa. Quanto maior o "fixed acidity, menor é o "pH".**

Existe uma correlação negativa. Quanto maior o "fixed acidity, maior é o "pH".

Existe uma correlação positiva. Quanto maior o "fixed acidity, menor é o "pH".

In [ ]:
df['fixed acidity'].corr(df['pH'])

-0.6829781945685316

#**Mesmo sendo reduzido, é CORRETO dizer sobre o coeficiente de correlação de Pearson entre as variáveis "quality" e "alcohol":**

Para analisar correlação é necessário que o coeficiente seja superior a 1.

Não é possível dizer nada sobre a correlação entre as vairáveis.

**Quanto maior o teor alcoolico (alcohol), maior é a qualidade do vinho (quality).**

Quanto maior o teor alcoolico (alcohol), menor é a qualidade do vinho (quality).

In [ ]:
df['quality'].corr(df['alcohol'])

0.4761663240011358

#**Quantas instâncias existem para a qualidade do vinho igual a 5?**

In [ ]:
df.query('quality==5')

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0               7.4             0.700         0.00  ...       0.56      9.4        5
1               7.8             0.880         0.00  ...       0.68      9.8        5
2               7.8             0.760         0.04  ...       0.65      9.8        5
4               7.4             0.700         0.00  ...       0.56      9.4        5
5               7.4             0.660         0.00  ...       0.56      9.4        5
...             ...               ...          ...  ...        ...      ...      ...
1582            6.1             0.715         0.10  ...       0.50     11.9        5
1583            6.2             0.460         0.29  ...       0.62      9.8        5
1589            6.6             0.725         0.20  ...       0.54      9.2        5
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1597            5.9             0.645         0.12  ...       0.71     10.2        5

[681 rows x 12 columns]

In [ ]:
df.query('quality==5').shape

(681, 12)

#**Aplique o modelo de normalização MinMaxScaler com os valores "default" para os dados de entrada. Qual é o menor valor para a variável "fixed acidity"?**

In [ ]:
x = df[['fixed acidity',
	  'volatile acidity',
  	'citric acid',
    'residual sugar',
    'chlorides',
    'free sulfur dioxide',
    'total sulfur dioxide',
    'density',
    'pH',
    'sulphates',
  	'alcohol']]
x.head()

   fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0            7.4              0.70         0.00  ...  3.51       0.56      9.4
1            7.8              0.88         0.00  ...  3.20       0.68      9.8
2            7.8              0.76         0.04  ...  3.26       0.65      9.8
3           11.2              0.28         0.56  ...  3.16       0.58      9.8
4            7.4              0.70         0.00  ...  3.51       0.56      9.4

[5 rows x 11 columns]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
entradas_normalizadas = x.copy()
entradas_normalizadas[['fixed acidity','volatile acidity', 'citric acid','residual sugar','chlorides','free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH',  'sulphates', 'alcohol']] = MinMaxScaler().fit_transform(x[['fixed acidity','volatile acidity', 'citric acid','residual sugar','chlorides','free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH',  'sulphates', 'alcohol']])

In [ ]:
entradas_normalizadas['fixed acidity'].values.min()

0.0

#**Após dividir o dataset utilizando o método train_test_split(entradas_normalizadas, saida, test_size=0.30, random_state=1). Qual foi a acurária para o KNN?**

In [ ]:
saida = df['quality']

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(entradas_normalizadas, saida, test_size=0.30, random_state=1)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

clf_KNN = KNeighborsClassifier(n_neighbors=5)
clf_KNN.fit(x_train,y_train)
predicts = clf_KNN.predict(x_test)
accuracy = clf_KNN.score(x_test, y_test)
print(accuracy)

0.5645833333333333

#**Aplicando o algoritmo de árvore de decisão com os parâmetros definidos no enunciado do desafio e a divisão de treinamento e teste como mostrado, anteriormente. Qual é o valor da acurácia?**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

clf_arvore = DecisionTreeClassifier()
clf_arvore.fit(x_train,y_train)
predicts = clf_arvore.predict(x_test)
accuracy = clf_arvore.score(x_test, y_test)
print(accuracy)

0.58125

#**Aplicando o algoritmo de floresta randomica com os mesmos parâmetros apresentados no enunciado e mesmos valores treinamento e teste, qual é o valor da acurácia?**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

clf_floresta = RandomForestClassifier(max_depth=10, random_state=1)
clf_floresta.fit(x_train,y_train)
predicts = clf_floresta.predict(x_test)
accuracy = clf_floresta.score(x_test, y_test)
print(accuracy)

0.6791666666666667

#**Aplicando o algoritmo SVM para a classificação da qualidade dos vinhos com os mesmos valores anteriores para treinamento e teste, qual é o valor de acurácia obtido?**

In [ ]:
from sklearn.svm import SVC

clf_svm=SVC(gamma='auto',kernel='rbf')
clf_svm.fit(x_train,y_train)
predicts = clf_svm.predict(x_test)
accuracy = clf_svm.score(x_test, y_test)
print(accuracy)

0.5854166666666667

#**Apicando a rede MLP como mostrado no enunciado e com os mesmos dados de treinamento e teste utilizados, qual é a acurácia do modelo?**

In [ ]:
from sklearn.neural_network import MLPClassifier

clf_mlp = MLPClassifier(alpha=1e-5, hidden_layer_sizes=(5, 5), random_state=1)
clf_mlp.fit(x_train,y_train)
predicts = clf_mlp.predict(x_test)
accuracy = clf_mlp.score(x_test, y_test)
print(accuracy)

0.6

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:571: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  % self.max_iter, ConvergenceWarning)

#**Modifique o dataset para um sistema binário que considere vinhos com nota maior do que 5 (6, 7, 8) sejam bons e menores ou igual a 5 ruins (5, 4, 3). Aplique o modelo da floresta randômica. Qual a acurácia do modelo para esse novo dataset?**

In [ ]:
df_vinhos_bons = df.query('quality > 5')
df_vinhos_ruins = df.query('quality <= 5')

In [ ]:
df_vinhos_bons['bom']=1
df_vinhos_bons

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  bom
3              11.2              0.28         0.56  ...      9.8        6    1
7               7.3              0.65         0.00  ...     10.0        7    1
8               7.8              0.58         0.02  ...      9.5        7    1
16              8.5              0.28         0.56  ...     10.5        7    1
19              7.9              0.32         0.51  ...      9.2        6    1
...             ...               ...          ...  ...      ...      ...  ...
1592            6.3              0.51         0.13  ...     11.0        6    1
1593            6.8              0.62         0.08  ...      9.5        6    1
1595            5.9              0.55         0.10  ...     11.2        6    1
1596            6.3              0.51         0.13  ...     11.0        6    1
1598            6.0              0.31         0.47  ...     11.0        6    1

[855 rows x 13 columns]

In [ ]:
df_vinhos_ruins['bom']= 0
df_vinhos_ruins

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  bom
0               7.4             0.700         0.00  ...      9.4        5    0
1               7.8             0.880         0.00  ...      9.8        5    0
2               7.8             0.760         0.04  ...      9.8        5    0
4               7.4             0.700         0.00  ...      9.4        5    0
5               7.4             0.660         0.00  ...      9.4        5    0
...             ...               ...          ...  ...      ...      ...  ...
1582            6.1             0.715         0.10  ...     11.9        5    0
1583            6.2             0.460         0.29  ...      9.8        5    0
1589            6.6             0.725         0.20  ...      9.2        5    0
1594            6.2             0.600         0.08  ...     10.5        5    0
1597            5.9             0.645         0.12  ...     10.2        5    0

[744 rows x 13 columns]

In [ ]:
df_binario = df_vinhos_bons.append(df_vinhos_ruins)

In [ ]:
df_binario.sort_index(inplace=True)
df_binario

      fixed acidity  volatile acidity  citric acid  ...  alcohol  quality  bom
0               7.4             0.700         0.00  ...      9.4        5    0
1               7.8             0.880         0.00  ...      9.8        5    0
2               7.8             0.760         0.04  ...      9.8        5    0
3              11.2             0.280         0.56  ...      9.8        6    1
4               7.4             0.700         0.00  ...      9.4        5    0
...             ...               ...          ...  ...      ...      ...  ...
1594            6.2             0.600         0.08  ...     10.5        5    0
1595            5.9             0.550         0.10  ...     11.2        6    1
1596            6.3             0.510         0.13  ...     11.0        6    1
1597            5.9             0.645         0.12  ...     10.2        5    0
1598            6.0             0.310         0.47  ...     11.0        6    1

[1599 rows x 13 columns]

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

x = df_binario[['fixed acidity',
	  'volatile acidity',
  	'citric acid',
    'residual sugar',
    'chlorides',
    'free sulfur dioxide',
    'total sulfur dioxide',
    'density',
    'pH',
    'sulphates',
  	'alcohol']]

entradas_normalizadas = x.copy()
entradas_normalizadas[['fixed acidity','volatile acidity', 'citric acid','residual sugar','chlorides','free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH',  'sulphates', 'alcohol']] = MinMaxScaler().fit_transform(x[['fixed acidity','volatile acidity', 'citric acid','residual sugar','chlorides','free sulfur dioxide', 'total sulfur dioxide', 'density', 'pH',  'sulphates', 'alcohol']])
saida = df_binario['bom']
x_train, x_test, y_train, y_test = train_test_split(entradas_normalizadas, saida, test_size=0.30, random_state=1)


clf_floresta = RandomForestClassifier(max_depth=10, random_state=1)
clf_floresta.fit(x_train,y_train)
predicts = clf_floresta.predict(x_test)
accuracy = clf_floresta.score(x_test, y_test)
print(accuracy)

0.8041666666666667